<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="books">Albook</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="books">Livres </a>
    </div>
  </div>
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="auth/signup" *ngIf="!isAuth">Créer un compte</a>
  <a class="nav-item nav-link" routerLinkActive="active" routerLink="auth/signin" *ngIf="!isAuth">Connexion</a>
  <span class="nav-item nav-link" *ngIf="isAuth">{{ user.email }}</span>
  <a class="nav-item nav-link" (click)="onSignOut()" style="cursor: pointer" *ngIf="isAuth">Déconnexion</a>
</nav>
