<div class="row">
  <div class="col-md-12">
    <h2>Vos livres :</h2>
    <div class="row">
    <div class="card col-4 mr-2"  style="width: 8rem; cursor: pointer;"
         *ngFor="let book of books; let i = index"
         (click)="onViewBook(i)">
      <img class="card-img-top"  style="max-width: 400px;" *ngIf="book.photo" [src]="book.photo" alt="Cover {{ book.title }}">
      <div class="card-body">
        <p class="card-title">{{ book.title }} - {{ book.author }}</p>
        <p class="card-text" *ngIf="book.synopsis">{{book.synopsis}}</p>
        <button class="btn btn-danger pull-right" (click)="onDeleteBook(book)">
          <span>Supprimer</span>
        </button>
      </div>
    </div>
    </div>
    <div class="list-group">
    <button class="btn btn-primary" (click)="onNewBook()">Nouveau livre</button>
  </div>
  </div>
</div>
